.footer {
  position: relative;
  > p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
.author-copyright {
  color: #999;
  font-family: Audiowide;
  margin-bottom: 40px;
}
.tool-eye {
  display: none;
  img.shock {
    left: 0;
    position: fixed;
    top: 50%;
    width: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-animation: epiShock 0.3s ease-in-out 0s infinite;
            animation: epiShock 0.3s ease-in-out 0s infinite;
  }
  @media(min-width: 750px) {
    background-image: url(../img/eye.jpg);
    background-size: cover;
    bottom: 0;
    display: block;
    height: 50px;
    opacity: 0.4;
    position: absolute;
    right: 10px;
    width: 70px;
  }
}
@media(min-width: 750px) {
  #shock:checked + label img.shock {
    width: 100vw;
  }
  label.shock {
    -webkit-animation: pulse 3s ease-in-out 0s infinite;
            animation: pulse 3s ease-in-out 0s infinite;
    background-image: -webkit-radial-gradient(50% 50% 85px, #f00 0%, transparent 7%);
    background-image: radial-gradient(85px at 50% 50%, #f00 0%, transparent 7%);
    border-radius: 50%;
    bottom: 26%;
    cursor: pointer;
    display: block;
    height: 20%;
    position: absolute;
    right: 30%;
    width: 20%;
  }
}
.facts {
  color: #555;
  max-width: 600px;
  margin: 30px auto;
  padding: 10px 20px;
}
