.section.skills {
  background-color: #fff;
  &::before {
    display: none;
    @media (min-width: 750px) {
      right: 0;
    }
  }
}
.skills .content {
  h2,
  h2 + p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @media (min-width: 750px) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    width: 100%;
    &::before {
      background-image: -webkit-linear-gradient(left, #fff 35%, transparent 100%);
      background-image: linear-gradient(to right, #fff 35%, transparent 100%);
      left: 0;
      right: 50%;
    }
    &:hover::before {
      right: 0;
    }
  }
}
.skill-graphs {
  margin: 0 auto;
  max-width: 1400px;
  padding: 10px 0;
  position: relative;
}
.skill-graph-horizontal,
.skill-graph-horizontal-labels {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 90%;
  @media (min-width: 750px) {
    max-width: 750px;
  }
}
.skill-graph-horizontal {
  /*border: 1px solid #999;*/ /* BAD */
  /*box-shadow: 0 0 2px 0 #444;*/ /* BAD */
  background-image: -webkit-linear-gradient(left, rgba(255, 165, 0, 1) 85%, maroon 88%);
  background-image: linear-gradient(to right, rgba(255, 165, 0, 1) 85%, maroon 88%);
  border-radius: 3px;
  font-size: 0.7em;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  &::before,
  &::after {
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 100%;
    padding: 0 10px;
    width: 50%;
  }
  &::before {
    content: '95%';
  }
  &::after {
    color: rgba(255, 165, 0, 1);
    content: '5%';
    text-align: right;
  }
  @media (min-width: 750px) {
    font-size: 1em;
  }
}
.skill-graph-horizontal-labels {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 6px;
  span:first-child {
    color: rgba(255, 165, 0, 1);
    float: left;
  }
  span:last-child {
    float: right;
  }
}
@media (min-width: 750px) {
  .skill-graph-horizontal-labels,
  .skill-graph-horizontal::before,
  .skill-graph-horizontal::after,
  .skills h3 {
    text-shadow: 1px 1px 0 #444;
  }
}
.skills h3 {
  font-size: 1em;
  margin-bottom: 12px;
  margin-top: 0;
  text-align: center;
}
.skill-frontend h3 {
  color: rgba(255, 165, 0, 1);
}
.skill-backend h3,
.skill-graph-horizontal-labels span:last-child,
.skill-graph-horizontal::before {
  color: maroon;
}
.skill-other h3 {
  color: rgba(69, 177, 03, 1);
}
.skills .skill-bars {
  margin: 40px auto;
  max-width: 400px;
  width: 90%;
  @media (min-width: 750px) {
    float: left;
    margin-left: calc(10% / 3);
    max-width: unset;
    width: 45%;
    &:last-child {
      margin-left: 30%;
    }
  }
  @media (min-width: 1000px) {
    &:last-child{
      margin-left: calc(10% / 4);
    }
    margin-left: calc(10% / 4);
    width: 30%;
  }
}
.graph-container {
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: bold;
  height: 230px;
  padding: 20px;
  width: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px 0 #999;
  }
  .y-axis {
    border-bottom: 1px solid #999;
    height: 75%;
  }
}
.proficiency-levels,
.proficiency-levels-tags {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.proficiency-levels-tags {
  width: 70px;
  li {
    height: 25%;
  }
  .learning {
    color: rgba(0, 0, 128, 1);
  }
  .competent {
    color: rgba(0, 128, 0, 1);
  }
  .proficient {
    color: rgba(255, 165, 0, 1);
  }
  .expert {
    color: rgba(128, 0, 0, 1);
  }
}
.proficiency-levels {
  position: relative;
  width: calc(100% - 85px);
  li {
    background-color: gray;
    cursor: help;
    float: left;
    margin-left: 10%;
    position: relative;
    width: 10%;
    &[data-level="learning"] {
      background-color: rgba(0, 0, 128, 1);
      height: 25%;
      top: 75%;
    }
    &[data-level="competent"] {
      background-color: rgba(0, 128, 0, 1);
      height: 50%;
      top: 50%;
    }
    &[data-level="proficient"] {
      background-color: rgba(255, 165, 0, 1);
      height: 75%;
      top: 25%;
    }
    &[data-level="expert"] {
      background-color: rgba(128, 0, 0, 1);
      height: 100%;
    }
    &::before {
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 3px;
      color: #ccc;
      content: attr(data-info);
      font-size: 0.9em;
      left: 50%;
      opacity: 0;
      padding: 15px 20px;
      position: absolute;
      top: -20px;
      -webkit-transform: translate3d(-50%, -100%, 0);
              transform: translate3d(-50%, -100%, 0);
      -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
      width: 200px;
      z-index: -1;
    }
    &:hover::before {
      opacity: 1;
      top: -5px;
      z-index: 10;
    }
    &::after {
      border: 5px solid transparent;
      border-top: 5px solid rgba(0, 0, 0, 0.9);
      content: '';
      height: 10px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: -10px;
      -webkit-transform: translate3d(-50%, -100%, 0);
              transform: translate3d(-50%, -100%, 0);
      -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
      width: 10px;
      z-index: -1;
    }
    &:hover::after {
      opacity: 1;
      top: 5px;
      z-index: 10;
    }
  }
}
.topics {
  float: left;
  margin-left: calc(70px + 9%);
  position: relative;
  width: calc(91% - 70px);
  li {
    float: left;
    font-size: 0.7em;
    position: absolute;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(42deg);
            transform: rotate(42deg);
    &:nth-child(1) {
      left: 6%;
    }
    &:nth-child(2) {
      left: 26%;
    }
    &:nth-child(3) {
      left: 49%;
    }
    &:nth-child(4) {
      left: 70%;
    }
    &:nth-child(5) {
      left: 90%;
    }
    @media (min-width: 750px) {
      font-size: 0.8em;
    }
  }
}
