.section.about {
    &::before {
    background-image: url(../img/suva_planina.jpg);
    background-position: 55% center;
  }
  @media (min-width: 750px) {
    .content {
      text-align: left;
      &:hover::before {
        right: 0;
      }
      &::before {
        background-image: -webkit-linear-gradient(left, #fff 35%, transparent 100%);
        background-image: linear-gradient(to right, #fff 35%, transparent 100%);
        left: 0;
        right: 50%;
      }
    }
  }
}
