// projects section opening animation
@-webkit-keyframes goNuts {

  0% {
    left: 100vw;
  }

  20% {
    left: 15vw;
  }

  25% {
    left: 0;
  }

  50% {
    left: 20vw;
  }

  65% {
    left: 0;
  }

  75% {
    left: 14vw;
  }

  85% {
    left: 0;
  }

  98% {
    left: 8vw;
  }

  100% {
    left: 0;
  }

}

@keyframes goNuts {

  0% {
    left: 100vw;
  }

  20% {
    left: 15vw;
  }

  25% {
    left: 0;
  }

  50% {
    left: 20vw;
  }

  65% {
    left: 0;
  }

  75% {
    left: 14vw;
  }

  85% {
    left: 0;
  }

  98% {
    left: 8vw;
  }

  100% {
    left: 0;
  }

}

// footer fun animation
@-webkit-keyframes epiShock {

  0% {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
  }

  20% {
    -webkit-filter: contrast(300%);
            filter: contrast(300%);
  }

  40% {
    -webkit-filter: invert(80%);
            filter: invert(80%);
  }

  60% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }

  80% {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }

  100% {
    -webkit-filter: saturate(400%);
            filter: saturate(400%);
  }

}

@keyframes epiShock {

  0% {
    -webkit-filter: sepia(100%);
            filter: sepia(100%);
  }

  20% {
    -webkit-filter: contrast(300%);
            filter: contrast(300%);
  }

  40% {
    -webkit-filter: invert(80%);
            filter: invert(80%);
  }

  60% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }

  80% {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }

  100% {
    -webkit-filter: saturate(400%);
            filter: saturate(400%);
  }

}

// footer fun animation
@-webkit-keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
